:root {
  --baseFontSize: 14px;
  --red: #ee5340;
  --orange: #ed7a00;
  --green: #13ce73;
  --blue: #61dafb;
  --dark-blue: #00f;
  --white: #fff;
  --black: #000;
  --grey: #ededed;
  --backgroundColor: #282c34;
  --error: var(--red);
  --warning: var(--orange);
  --success: var(--green);
}
@-webkit-keyframes appLogoSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes appLogoSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
html {
  font-size: 100%;
  height: 100vh;
}
.clickable {
  cursor: pointer;
}
.padTop10px {
  padding-top: 10px;
}
.textRight {
  text-align: right;
}
.darkTheme {
  background-color: #282c34;
  background-color: var(--backgroundColor);
  color: #fff;
  color: var(--white);
}
.darkTheme a {
  color: #61dafb;
  color: var(--blue);
}
.darkTheme table.table {
  color: #fff !important;
  color: var(--white) !important;
}
.darkTheme .text {
  color: #fff;
  color: var(--white);
}
.lightTheme {
  background-color: #fff;
  background-color: var(--white);
  color: #000;
  color: var(--black);
}
.lightTheme a {
  color: #00f;
  color: var(--dark-blue);
}
.lightTheme table.table {
  color: #000 !important;
  color: var(--black) !important;
}
.lightTheme .text {
  color: #000;
  color: var(--black);
}
.page {
  font-size: 14px;
  font-size: var(--baseFontSize);
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}
.page a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  cursor: pointer;
}
.app {
  text-align: center;
}
.appLogo {
  height: 40px;
  pointer-events: none;
  float: left;
  text-align: left;
}
.appHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  clear: both;
}
.content {
  text-align: left;
}
@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    -webkit-animation: appLogoSpin 20s linear infinite;
    animation: appLogoSpin 20s linear infinite;
  }
}
