@import '../../styles/variables.css';

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 100%;
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.padTop10px {
  padding-top: 10px;
}

.textRight {
  text-align: right;
}

.darkTheme {
  background-color: var(--backgroundColor);
  color: var(--white);

  & a {
    color: var(--blue);
  }

  & table.table {
    color: var(--white) !important;
  }

  & .text {
    color: var(--white);
  }
}

.lightTheme {
  background-color: var(--white);
  color: var(--black);

  & a {
    color: var(--dark-blue);
  }

  & table.table {
    color: var(--black) !important;
  }

  & .text {
    color: var(--black);
  }
}

.page {
  font-size: var(--baseFontSize);
  font-family: Helvetica, sans-serif;
  min-height: 100vh;

  & a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.app {
  text-align: center;
}

.appLogo {
  height: 40px;
  pointer-events: none;
  float: left;
  text-align: left;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  clear: both;
}

.content {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogoSpin infinite 20s linear;
  }
}
